<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        <% if(user){ %>
            <%- user.login %> profile
        <% }else {%>
            Not authorizated
        <% } %>
    </title>
    <meta name="description" content="profile page">
    <meta name="author" content="Dmytro Diachenko">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
</head>
<body>
<div class="container marketing">
    <a href="/">Главная</a>
    <% if(user) { %>
        <h2> <%= user.login %></h2>
        <ul>
            <li>Имя: <%= user.firstName %></li>
            <li>Фамилия: <%= user.lastName %></li>
            <% if(avatar) { %>
            Avatar:<br/>
            <li><img src="data:image/jpg;base64,<%= avatar.image %>" width="100" height="100" alt="Profile photo"></li>
            <% } else { %>
            <% } %>
            <form action='/upload' method='POST' enctype="multipart/form-data">
                <input type='file' name='avatar' accept="image/*"/>
                <input type="submit" value='Upload' />
            </form>
            <br>
            <form class="form-horizontal" method="POST" action="/upload-recipe">
                <div class="form-group">
                    <label class="control-label col-lg-3" for="name">Название:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Введите название блюда">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="desc">Описание</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="desc" name="desc" placeholder="Введите описание блюда">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <button type="submit"  class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </form>
        </ul>
    <p><a href="/addrecipe">Додати новий рецепт</a></p>
    <% } else { %>

    <% } %>
</div>
</body>
</html>