/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

body {
    background:url(../images/bg-img.jpg) repeat;
}

.marketing{
    background: white;
    border-radius: 20px;
    padding: 10px;
}
