<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Так смачно</title>
    <meta name="description" content="add recipe page">
    <meta name="author" content="Dmytro Diachenko">
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
</head>
<body>
<!-- SIGN IN FORM -->
<div id="SignIn" class="modal fade" tabindex="-1" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Вхід</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <form class="form-horizontal" method="POST" action="/login">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="login">Логін:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="login" name="username" placeholder="Введіть Ваш логін"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="password">Пароль:</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Введіть пароль"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button type="submit"  class="btn btn-primary">Увійти</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- SIGN UP FORM -->
<div id="SignUp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Регістрація</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <form class="form-horizontal" data-toggle="validator" role="form" method="post" action="/register">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="login">Логін:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="registration-login" name="login" placeholder="Введіть Ваш логін"
                                   maxlength="20" data-remote="/checklogin"
                                   data-error="Цей логін вже зайнятий іншим користувачем" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="lastName">Прізвище:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Введіте прізвище"
                                   maxlength="20" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="firstName">Ім'я:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Введіть ім'я"
                                   maxlength="20" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputPassword">Пароль:</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Введіть пароль"
                                   data-minlength="6" maxlength="30" required>
                            <div class="help-block">Мінімум 6 символів</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="confirmPassword">Підтвердіть пароль:</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Введіть пароль ще раз"
                                   data-match="#inputPassword" maxlength="30"
                                   data-match-error="Паролі  не співпадають. Перевірте ідентичність паролей в обох полях!" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input id="submitbtn" type="submit" class="btn btn-primary" value="Регістрація">
                            <input type="reset" class="btn btn-default" value="Очистити форму">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container marketing">
    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Так смачно</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Головна</a></li>
                            <li><a href="/#about">Про нас</a></li>
                            <li><a href="/recipes">Рецепти</a></li>
                            <li><a href="/#authors">Автори</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Поиск" name="q">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <% if(!user){ %>
                            <li><a href="#SignIn" data-toggle="modal">Війти</a></li>
                            <li><a href="#SignUp" data-toggle="modal">Регістрація</a></li>
                            <%}else{%>
                            <li> <a href="/profile"><%= user.login %></a></li>
                            <li><a href="/logout">Вийти</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div><br><br><br><br>

    <% if(user) { %>
    <div class="container-fluid" style="background: #f6fcff; border-radius: 20px">
        <h2>Додайте Ваш рецепт</h2><br>
        <form class="form-horizontal" data-toggle="validator" role="form" method="post" action="/upload-recipe"
              enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
                <label class="control-label col-xs-2 col-md-2" for="name">Назва блюда:</label>
                <div class="col-xs-9 col-md-9">
                    <input type="text" class="form-control" name="name" placeholder="Введіть назву блюда"
                           maxlength="40" data-remote="/checkrecipename"
                           data-error="Рецепт з такою назвою вже існує" required>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 col-md-2" for="ingredients">Інгредієнти:</label>
            </div>
            <% for(let i = 0; i < 4; i++) {%>
            <div class="form-group">
                <div class="col-xs-6 col-md-6 col-md-offset-2 col-xs-offset-2">
                    <input type="text" class="form-control" name="ingredient_name<%=i%>"
                           placeholder="Введіть назву інгредієнта" maxlength="25" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="col-xs-1 col-md-1">
                    <input type="number" class="form-control" name="ingredient_count<%=i%>"
                           maxlength="100" min="1" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <select class="form-control" name="ingredient_measurement<%=i%>" required>
                        <option value="банка">банка</option>
                        <option value="головка">головка</option>
                        <option selected value="грам">грам</option>
                        <option value="зубчик">зубчик</option>
                        <option value="кілограм">кілограм</option>
                        <option value="літр">літр</option>
                        <option value="мілілітр">мілілітр</option>
                        <option value="за смаком">за смаком</option>
                        <option value="пучок">пучок</option>
                        <option value="стакан">стакан</option>
                        <option value="столова ложка">столова ложка</option>
                        <option value="чайна ложка">чайна ложка</option>
                        <option value="шматок">шматок</option>
                        <option value="штука">штука</option>
                        <option value="щіпка">щіпка</option>
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <% } %>

            <div class="form-group">
                <label class="control-label col-xs-2 col-md-2" for="instruction">Інструкція:</label>
                <div class="col-xs-9 col-md-9">
                    <textarea class="form-control" name="instruction" maxlength="3000"
                              placeholder="Напишіть пошагову інструкцію" rows="10" required></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 col-md-2" for="portion_count">Кількість порцій:</label>
                <div class="col-xs-3 col-md-1">
                    <input type="number" class="form-control" name="portion_count"
                           maxlength="100" min="1" value="1" required>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 col-md-2" for="cooking_time">Час приготування:</label>
                <div class="col-xs-3 col-md-1">
                    <input type="number" class="form-control" name="cooking_time_hours"
                           maxlength="100" min="0" value="0" required>
                    <div class="help-block">годин</div>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="col-xs-3 col-md-1">
                    <input type="number" class="form-control" name="cooking_time_minutes"
                           maxlength="100" min="1" max="59" value="1" required>
                    <div class="help-block">хвилин</div>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 col-md-2" for="category">Категорія:</label>
                <div class="col-xs-6 col-md-3">
                    <select class="form-control" name="category" required>
                        <option selected value="-">-</option>
                        <option value="Випічка">Випічка</option>
                        <option value="Сніданки">Сніданки</option>
                        <option value="Салати">Салати</option>
                        <option value="Супи">Супи</option>
                        <option value="Паста">Паста</option>
                        <option value="Основні блюда">Основні блюда</option>
                        <option value="Закуски">Закуски</option>
                        <option value="Сендвічі">Сендвічі</option>
                        <option value="Десерти">Десерти</option>
                        <option value="Напої">Напої</option>
                        <option value="Піцца">Піцца</option>
                        <option value="Соуси">Соуси</option>
                        <option value="Інше">Інше</option>
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 col-md-2" for="kitchen">Кухня</label>
                <div class="col-xs-6 col-md-3">
                    <select class="form-control" name="kitchen" required>
                        <option selected value="-">-</option>
                        <option value="Грузинська кухня">Грузинська кухня</option>
                        <option value="Українська кухня">Українська кухня</option>
                        <option value="Італійська кухня">Італійська кухня</option>
                        <option value="Інша">Інша кухня</option>
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 col-md-2" for="image">Фотографія</label>
                <div class="col-xs-6 col-md-3">
                    <input type="file" name="image" id="image" required/>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <input type="hidden" name="author_login" value="<%= user.login %>" required/>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7 col-xs-offset-5 col-xs-7">
                    <input type="submit" class="btn btn-success" value="Додати">
                    <input type="reset" class="btn btn-default" value="Очистити">
                </div>
            </div>
        </form><br>
    </div>
    <% } %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>