<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Так смачно</title>
    <meta name="description" content="Index page">
    <meta name="author" content="Dmytro Diachenko">
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
  </head>
  <body>
  <!-- SIGN IN FORM -->
  <div id="SignIn" class="modal fade" tabindex="-1" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Заголовок модального окна -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Вхід</h4>
        </div>
        <!-- Основное содержимое модального окна -->
        <div class="modal-body">
          <form class="form-horizontal" method="POST" action="/login">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
              <label class="control-label col-xs-3" for="login">Логін:</label>
              <div class="col-xs-9">
                <input type="text" class="form-control" id="login" name="username" placeholder="Введіть Ваш логін"
                required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-3" for="password">Пароль:</label>
              <div class="col-xs-9">
                <input type="password" class="form-control" id="password" name="password" placeholder="Введіть пароль"
                required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-3 col-xs-9">
                <button type="submit"  class="btn btn-primary">Увійти</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- SIGN UP FORM -->
  <div id="SignUp" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Заголовок модального окна -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Регістрація</h4>
        </div>
        <!-- Основное содержимое модального окна -->
        <div class="modal-body">
          <form class="form-horizontal" data-toggle="validator" role="form" method="post" action="/register">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
              <label class="control-label col-xs-3" for="login">Логін:</label>
              <div class="col-xs-9">
                <input type="text" class="form-control" id="registration-login" name="login" placeholder="Введіть Ваш логін"
                       maxlength="20" data-remote="/checklogin"
                       data-error="Цей логін вже зайнятий іншим користувачем" required>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-3" for="lastName">Прізвище:</label>
              <div class="col-xs-9">
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Введіте прізвище"
                       maxlength="20" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-3" for="firstName">Ім'я:</label>
              <div class="col-xs-9">
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Введіть ім'я"
                       maxlength="20" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-3" for="inputPassword">Пароль:</label>
              <div class="col-xs-9">
                <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Введіть пароль"
                       data-minlength="6" maxlength="30" required>
                <div class="help-block">Мінімум 6 символів</div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-3" for="confirmPassword">Підтвердіть пароль:</label>
              <div class="col-xs-9">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Введіть пароль ще раз"
                       data-match="#inputPassword" maxlength="30"
                       data-match-error="Паролі  не співпадають. Перевірте ідентичність паролей в обох полях!" required>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <br>
            <div class="form-group">
              <div class="col-xs-offset-3 col-xs-9">
                <input id="submitbtn" type="submit" class="btn btn-primary" value="Регістрація">
                <input type="reset" class="btn btn-default" value="Очистити форму">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="container marketing">
  <div class="navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Так смачно</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Головна</a></li>
              <li><a href="#about">Про нас</a></li>
              <li><a href="/recipes">Рецепти</a></li>
              <li><a href="#authors">Автори</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <form class="navbar-form" role="search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Поиск" name="q">
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                  </div>
                </form>
              </li>
              <% if(!user){ %>
              <li><a href="#SignIn" data-toggle="modal">Війти</a></li>
              <li><a href="#SignUp" data-toggle="modal">Регістрація</a></li>
              <%}else{%>
              <li> <a href="/profile"><%= user.login %></a></li>
              <li><a href="/logout">Вийти</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <img class="first-slide" src="/images/cupcake.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Дуже смачно</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/images/meat.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Ще смачніше</h1>
            </div>
          </div>
        </div>
        <div class="item active">
          <img class="third-slide" src="/images/img1.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Апетитно</h1>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row" id="about" style="background: #f3fdff; border-radius: 20px">
      <div class="col-lg-12 text-center">
        <div class="row featurette">
          <div class="col-md-5">
            <img class="img-circle" src="/images/cupcake.jpg" alt="Generic placeholder image" width="300" height="300">
          </div>
          <div class="col-md-7">
            <h2 class="featurette-heading">Про Нас</h2>
            <p class="lead">Тут повинна бути інформація про цей сайт, але поки що вона відсутня, вибачте за тимчасові незручності</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 50px">
      <div class="col-md-12">
        <form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Пошук" name="q2">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-md-2 col-xs-4" style="text-align:center">
            <a href="/recipes/category/Випічка"><img class="img-circle" src="/images/category-bakery.jpg" alt="Випічка" width="100" height="100"></a>
            <h5>Випічка</h5>
          </div>
          <div class="col-md-2 col-xs-4" style="text-align: center">
            <a href="/recipes/category/Сніданки"><img class="img-circle" src="/images/category-breakfast.jpg" alt="Сніданки" width="100" height="100"></a>
            <h5>Сніданки</h5>
          </div>
          <div class="col-md-2 col-xs-4" style="text-align: center">
            <a href="/recipes/category/Салати"><img class="img-circle" src="/images/category-salad.jpg" alt="Салати" width="100" height="100"></a>
            <h5>Салати</h5>
          </div>
          <div class="col-md-2 col-xs-4" style="text-align: center">
            <a href="/recipes/category/Супи"><img class="img-circle" src="/images/category-soups.jpg" alt="Супи" width="100" height="100"></a>
            <h5>Супи</h5>
          </div>
          <div class="col-md-2 col-xs-4" style="text-align: center">
            <a href="/recipes/category/Паста"><img class="img-circle" src="/images/category-paste.jpg" alt="Паста" width="100" height="100"></a>
            <h5>Паста</h5>
          </div>
          <div class="col-md-2 col-xs-4" style="text-align: center">
            <a href="/recipes/category/Основні блюда"><img class="img-circle" src="/images/category-maindish.jpg" alt="Основні блюда" width="100" height="100"></a>
            <h5>Основні блюда</h5>
          </div>
          <div class="col-md-2 col-xs-4" style="text-align: center">
            <a href="/recipes/category/Закуски"><img class="img-circle" src="/images/category-snacks.jpg" alt="Закуски" width="100" height="100"></a>
            <h5>Закуски</h5>
          </div>
          <div class="col-md-2 col-xs-4" style="text-align: center">
            <a href="/recipes/category/Сендвічі"><img class="img-circle" src="/images/category-sandwiches.jpg" alt="Сендвічі" width="100" height="100"></a>
            <h5>Сендвічі</h5>
          </div>
          <div class="col-md-2 col-xs-4" style="text-align: center">
            <a href="/recipes/category/Десерти"><img class="img-circle" src="/images/category-deserts.jpg" alt="Десерти" width="100" height="100"></a>
            <h5>Десерти</h5>
          </div>
          <div class="col-md-2 col-xs-4" style="text-align: center">
            <a href="/recipes/category/Напої"><img class="img-circle" src="/images/category-drinks.jpg" alt="Напої" width="100" height="100"></a>
            <h5>Напої</h5>
          </div>
          <div class="col-md-2 col-xs-4" style="text-align: center">
            <a href="/recipes/category/Піцца"><img class="img-circle" src="/images/category-pizza.jpg" alt="Піцца" width="100" height="100"></a>
            <h5>Піцца</h5>
          </div>
          <div class="col-md-2 col-xs-4" style="text-align: center">
            <a href="/recipes/category/Соуси"><img class="img-circle" src="/images/category-sauce.jpg" alt="Соуси" width="100" height="100"></a>
            <h5>Соуси</h5>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div id="authors" class="container-fluid" style="background: #f3fdff; border-radius: 20px">
      <h3>Найкращі автори</h3>
      <div class="row">
        <%if(authors.length == 4){
          for(let i = 0; i < 4; i++) {
            let author = authors[i];
            let ava;
            switch(i){
              case 0: {
                ava = ava1;
                break;
              }
              case 1: {
                ava = ava2;
                break;
              }
              case 2: {
                ava = ava3;
                break;
              }
              case 3: {
                ava = ava4;
                break;
              }
            }
        %>
        <div class="col-md-3 col-xs-6" style="text-align: center">
          <a href="/profile/<%= author.login %>"><img class="img-circle" src="data:image/jpg;base64,<%= ava.image %>"
                           alt="Avatar" width="150" height="150"></a>
          <h4><a href="/profile/<%= author.login %>"><%= author.lastName %> <%= author.firstName %></a></h4>
          <p>Кількість рецептів: <%= author.recipesNumber %></p>
        </div>
        <% } } else { %>
        <h3>No authors</h3>
        <% } %>
      </div>
    </div>

    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
    </footer>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </body>
</html>
