<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= recipe.name %></title>
    <meta name="description" content="recipe page">
    <meta name="author" content="Dmytro Diachenko">
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
</head>
<body>
<!-- SIGN IN FORM -->
<div id="SignIn" class="modal fade" tabindex="-1" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Вхід</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <form class="form-horizontal" method="POST" action="/login">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="login">Логін:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="login" name="username" placeholder="Введіть Ваш логін"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="password">Пароль:</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Введіть пароль"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button type="submit"  class="btn btn-primary">Увійти</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- SIGN UP FORM -->
<div id="SignUp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Регістрація</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <form class="form-horizontal" data-toggle="validator" role="form" method="post" action="/register">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="login">Логін:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="registration-login" name="login" placeholder="Введіть Ваш логін"
                                   maxlength="20" data-remote="/checklogin"
                                   data-error="Цей логін вже зайнятий іншим користувачем" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="lastName">Прізвище:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Введіте прізвище"
                                   maxlength="20" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="firstName">Ім'я:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Введіть ім'я"
                                   maxlength="20" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputPassword">Пароль:</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Введіть пароль"
                                   data-minlength="6" maxlength="30" required>
                            <div class="help-block">Мінімум 6 символів</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="confirmPassword">Підтвердіть пароль:</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Введіть пароль ще раз"
                                   data-match="#inputPassword" maxlength="30"
                                   data-match-error="Паролі  не співпадають. Перевірте ідентичність паролей в обох полях!" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input id="submitbtn" type="submit" class="btn btn-primary" value="Регістрація">
                            <input type="reset" class="btn btn-default" value="Очистити форму">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container marketing">
    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Так смачно</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Головна</a></li>
                            <li><a href="/#about">Про нас</a></li>
                            <li><a href="/recipes">Рецепти</a></li>
                            <li><a href="/#authors">Автори</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Поиск" name="q">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <% if(!user){ %>
                            <li><a href="#SignIn" data-toggle="modal">Війти</a></li>
                            <li><a href="#SignUp" data-toggle="modal">Регістрація</a></li>
                            <%}else{%>
                            <li> <a href="/profile"><%= user.login %></a></li>
                            <li><a href="/logout">Вийти</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div><br><br><br><br><br>

    <div class="col-md-12 col-xs-12" style="background: #d7ffb3; border-radius: 20px">
        <p style="margin-left: 32px"><a href="/recipes/category/<%= recipe.category %>"><%= recipe.category %></a> &#149 <a href="/recipes/kitchen/<%= recipe.kitchen %>"><%= recipe.kitchen %></a></p>
        <h3 style="margin-left: 32px"><%= recipe.name %></h3>
        <div class="container-fluid">
            <div class="col-md-3 col-xs-3">
                <img src="data:image/jpg;base64,<%= recipe.image %>" style="border-radius: 20px" width="250" height="250" alt="<%= recipe.name %>">
            </div>
            <div class="col-md-7 col-xs-7">
                <h3>Автор рецепту:</h3>
                <div class="col-md-2 col-xs-2">
                    <img class="img-circle" src="data:image/jpg;base64,<%= avatar.image %>" alt="Сендвічі" width="75" height="75">
                </div>
                <div class="col-md-3 col-xs-3">
                    <a href="/profile/<%= author.login %>"><h4><%= author.firstName %> <%= author.lastName%></h4></a>
                    <h5><%= author.login %></h5>
                    <% if (!user) {} else if(user.role == "admin" || user.login == author.login) {%>
                        <form method="post" action="/delete_recipe/<%= recipe._id %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn btn-primary">Видалити рецепт</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
        <br>
        <h3 style="margin-left: 32px">Час приготування:</h3>
        <h5 style="margin-left: 32px"><%= recipe.cooking_time.hours %> годин(и) <%= recipe.cooking_time.minutes %> хвилин(и)</h5>
        <h3 style="margin-left: 32px">Інструкція:</h3>
        <h5 style="margin-left: 32px"><%= recipe.instruction %></h5>
        <h6 style="margin-left: 32px"><%= recipe.date %></h6>
    </div>

</div>
</body>
</html>