<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Так смачно</title>
    <meta name="description" content="profile page">
    <meta name="author" content="Dmytro Diachenko">
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
</head>
<body>
<!-- SIGN IN FORM -->
<div id="SignIn" class="modal fade" tabindex="-1" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Вхід</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <form class="form-horizontal" method="POST" action="/login">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="login">Логін:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="login" name="username" placeholder="Введіть Ваш логін"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="password">Пароль:</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Введіть пароль"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button type="submit"  class="btn btn-primary">Увійти</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- SIGN UP FORM -->
<div id="SignUp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Регістрація</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <form class="form-horizontal" data-toggle="validator" role="form" method="post" action="/register">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="login">Логін:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="registration-login" name="login" placeholder="Введіть Ваш логін"
                                   maxlength="20" data-remote="/checklogin"
                                   data-error="Цей логін вже зайнятий іншим користувачем" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="lastName">Прізвище:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Введіте прізвище"
                                   maxlength="20" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="firstName">Ім'я:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Введіть ім'я"
                                   maxlength="20" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputPassword">Пароль:</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Введіть пароль"
                                   data-minlength="6" maxlength="30" required>
                            <div class="help-block">Мінімум 6 символів</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="confirmPassword">Підтвердіть пароль:</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Введіть пароль ще раз"
                                   data-match="#inputPassword" maxlength="30"
                                   data-match-error="Паролі  не співпадають. Перевірте ідентичність паролей в обох полях!" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input id="submitbtn" type="submit" class="btn btn-primary" value="Регістрація">
                            <input type="reset" class="btn btn-default" value="Очистити форму">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container marketing">
    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Так смачно</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Головна</a></li>
                            <li><a href="/#about">Про нас</a></li>
                            <li><a href="/recipes">Рецепти</a></li>
                            <li><a href="/#authors">Автори</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Поиск" name="q">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <% if(!user){ %>
                            <li><a href="#SignIn" data-toggle="modal">Війти</a></li>
                            <li><a href="#SignUp" data-toggle="modal">Регістрація</a></li>
                            <%}else{%>
                            <li> <a href="/profile"><%= user.login %></a></li>
                            <li><a href="/logout">Вийти</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div><br><br><br><br><br>


    <div class="container-fluid" style="background: #e6d8ff; border-radius: 10px">
        <div class="row-fluid">
            <div class="col-md-3 col-xs-5">
                <img class="img-circle" src="data:image/jpg;base64,<%= avatar.image %>" width="200" height="200" alt="Profile photo">
            </div>
            <div class="col-md-6 col-xs-7">
                <br>
                <h4><%= owner.firstName %></h4>
                <h4><%= owner.lastName %></h4>
                <h4><%= owner.login %></h4>
                <h5><%= owner.recipesNumber %> рецепт(и)</h5>
                <h6><%= owner.registrationDate %></h6>
                <% if(user) { if(user.login == owner.login) { %>
                <form method="get" action="/addrecipe">
                    <button class="btn btn-primary">Додати новий рецепт</button>
                </form>
                <% } }%>
            </div>
        </div>
    </div>
    <% if(user) { if(user.login == owner.login) { %>
    <div class="container-fluid" style="background: #e6d8ff; border-radius: 10px">
        <h4>Завантаження нового аватара:</h4>
        <form action='/upload' method='POST' enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type='file' name='avatar' accept="image/*" required/>
            <input type="submit" value='Upload' />
        </form><br>
        <% if(user.role == "admin") { %>
        <h4>Вибір дефолтного аватара:</h4>
        <form action='/upload-default-avatar' method='POST' enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type='file' name='avatar' accept="image/*" required/>
            <input type="submit" value='Upload' />
        </form><br>
        <% } %>
    </div>
    <% } }%>
    <div class="container-fluid" style="background: #e6d8ff; border-radius: 10px">
        <h3>Кухня <%= owner.login %></h3>
        <% if(recipes.length == 0) { %>
        <h3>Жодного рецепту</h3>
        <% } else { for(let i = 0; i < recipes.length; i++){ let recipe = recipes[i];%>
        <div class="container-fluid col-md-9 col-xs-12" style="margin-bottom: 20px">
            <div class="row-fluid">
                <div class="col-md-3 col-xs-4" style="margin: 20px">
                    <img src="data:image/jpg;base64,<%= recipe.image %>" style="border-radius: 20px" width="200" height="200" alt="<%= recipe.name %>">
                </div>
                <div class="col-md-6 col-xs-6" style="margin: 20px">
                    <p><a href="/recipes/category/<%= recipe.category %>"><%= recipe.category %></a> &#149 <a href="/recipes/kitchen/<%= recipe.kitchen %>"><%= recipe.kitchen %></a></p>
                    <h3><a href="/recipes/<%= recipe.name %>"><%= recipe.name %></a></h3>
                    <p>Автор: <a href="/profile/<%= recipe.author_login %>"><%= recipe.author_login %></a></p>
                    <p>Час приготування:
                        <%= recipe.cooking_time.hours %> годин(и)
                        <%= recipe.cooking_time.minutes %> хвилин(и)
                    </p>
                </div>
            </div>
        </div>
        <% } } %>
    </div>
</div>



<!--
<div class="container marketing">
    <a href="/">Главная</a>
    <% if(user) { %>
        <h2> <%= user.login %></h2>
        <ul>
            <li>Имя: <%= user.firstName %></li>
            <li>Фамилия: <%= user.lastName %></li>
            Avatar:<br>
            <li><img src="data:image/jpg;base64,<%= avatar.image %>" width="100" height="100" alt="Profile photo"></li>
            <form action='/upload' method='POST' enctype="multipart/form-data">
                <input type='file' name='avatar' accept="image/*" required/>
                <input type="submit" value='Upload' />
            </form>
            <br>

            <form action='/upload-default-avatar' method='POST' enctype="multipart/form-data">
                <input type='file' name='avatar' accept="image/*" required/>
                <input type="submit" value='Upload' />
            </form><br>

        </ul>
    <p><a href="/addrecipe">Додати новий рецепт</a></p>
    <% } else { %>

    <% } %>
</div>
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>