<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Так смачно</title>
    <meta name="description" content="Recipes page">
    <meta name="author" content="Dmytro Diachenko">
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
</head>
<body>
<!-- SIGN IN FORM -->
<div id="SignIn" class="modal fade" tabindex="-1" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        onclick="window.location.href='/'">×</button>
                <h4 class="modal-title">Вхід</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <form class="form-horizontal" method="POST" action="/login">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="login">Логін:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="login" name="username" placeholder="Введіть Ваш логін"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="password">Пароль:</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Введіть пароль"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button type="submit"  class="btn btn-primary">Увійти</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location.href='/'">Закрити</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- SIGN UP FORM -->
<div id="SignUp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        onclick="window.location.href='/'">×</button>
                <h4 class="modal-title">Регістрація</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <form class="form-horizontal" data-toggle="validator" role="form" method="post" action="/register">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="login">Логін:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="registration-login" name="login" placeholder="Введіть Ваш логін"
                                   maxlength="20" data-remote="/checklogin"
                                   data-error="Цей логін вже зайнятий іншим користувачем" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="lastName">Прізвище:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Введіте прізвище"
                                   maxlength="20" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="firstName">Ім'я:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Введіть ім'я"
                                   maxlength="20" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputPassword">Пароль:</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Введіть пароль"
                                   data-minlength="6" maxlength="30" required>
                            <div class="help-block">Мінімум 6 символів</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="confirmPassword">Підтвердіть пароль:</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Введіть пароль ще раз"
                                   data-match="#inputPassword" maxlength="30"
                                   data-match-error="Паролі  не співпадають. Перевірте ідентичність паролей в обох полях!" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input id="submitbtn" type="submit" class="btn btn-primary" value="Регістрація">
                            <input type="reset" class="btn btn-default" value="Очистити форму">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    onclick="window.location.href='/'">Закрити</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container marketing">
    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Так смачно</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Головна</a></li>
                            <li><a href="#about">Про нас</a></li>
                            <li><a href="/recipes">Рецепти</a></li>
                            <li><a href="#">Автори</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Поиск" name="q">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <% if(!user){ %>
                            <li><a href="#SignIn" data-toggle="modal">Війти</a></li>
                            <li><a href="#SignUp" data-toggle="modal">Регістрація</a></li>
                            <%}else{%>
                            <li> <a href="/profile"><%= user.login %></a></li>
                            <li><a href="/logout">Вийти</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div><br><br><br><br><br>

    <div class="container-fluid" style="background: #f6fcff; border-radius: 20px">
        <h2>Рецепти</h2>
        <div class="container-fluid" style="margin-top: 50px">
            <div class="col-md-12 col-xs-12">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Пошук" id="searchtext">
                        <div class="input-group-btn">
                            <button class="btn btn-default" id="searchbtn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-md-2 col-xs-4" style="text-align:center">
                        <img class="img-circle" src="/images/category-bakery.jpg" alt="Випічка" width="100" height="100">
                        <h5>Випічка</h5>
                    </div>
                    <div class="col-md-2 col-xs-4" style="text-align: center">
                        <img class="img-circle" src="/images/category-breakfast.jpg" alt="Сніданки" width="100" height="100">
                        <h5>Сніданки</h5>
                    </div>
                    <div class="col-md-2 col-xs-4" style="text-align: center">
                        <img class="img-circle" src="/images/category-salad.jpg" alt="Салати" width="100" height="100">
                        <h5>Салати</h5>
                    </div>
                    <div class="col-md-2 col-xs-4" style="text-align: center">
                        <img class="img-circle" src="/images/category-soups.jpg" alt="Супи" width="100" height="100">
                        <h5>Супи</h5>
                    </div>
                    <div class="col-md-2 col-xs-4" style="text-align: center">
                        <img class="img-circle" src="/images/category-paste.jpg" alt="Паста" width="100" height="100">
                        <h5>Паста</h5>
                    </div>
                    <div class="col-md-2 col-xs-4" style="text-align: center">
                        <img class="img-circle" src="/images/category-maindish.jpg" alt="Основні блюда" width="100" height="100">
                        <h5>Основні блюда</h5>
                    </div>
                    <div class="col-md-2 col-xs-4" style="text-align: center">
                        <img class="img-circle" src="/images/category-snacks.jpg" alt="Закуски" width="100" height="100">
                        <h5>Закуски</h5>
                    </div>
                    <div class="col-md-2 col-xs-4" style="text-align: center">
                        <img class="img-circle" src="/images/category-sandwiches.jpg" alt="Сендвічі" width="100" height="100">
                        <h5>Сендвічі</h5>
                    </div>
                    <div class="col-md-2 col-xs-4" style="text-align: center">
                        <img class="img-circle" src="/images/category-deserts.jpg" alt="Десерти" width="100" height="100">
                        <h5>Десерти</h5>
                    </div>
                    <div class="col-md-2 col-xs-4" style="text-align: center">
                        <img class="img-circle" src="/images/category-drinks.jpg" alt="Напої" width="100" height="100">
                        <h5>Напої</h5>
                    </div>
                    <div class="col-md-2 col-xs-4" style="text-align: center">
                        <img class="img-circle" src="/images/category-pizza.jpg" alt="Піцца" width="100" height="100">
                        <h5>Піцца</h5>
                    </div>
                    <div class="col-md-2 col-xs-4" style="text-align: center">
                        <img class="img-circle" src="/images/category-sauce.jpg" alt="Соуси" width="100" height="100">
                        <h5>Соуси</h5>
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <div id="search-content">
        <% for(let i = 0; i < recipes.length; i++){ let recipe = recipes[i];%>
            <div class="container-fluid col-md-9 col-xs-12" style="background: #fff7d1; border-radius: 20px; margin-bottom: 30px">
                <div class="row-fluid">
                    <div class="col-md-3 col-xs-4" style="margin: 20px">
                        <img src="data:image/jpg;base64,<%= recipe.image %>" style="border-radius: 20px" width="200" height="200" alt="<%= recipe.name %>">
                    </div>
                    <div class="col-md-6 col-xs-6" style="margin: 20px">
                        <p><%= recipe.category %> &#149 <%= recipe.kitchen %></p>
                        <h3><a href="/"><%= recipe.name %></a></h3>
                        <p>Автор: <a href="/"><%= recipe.author_login %></a></p>
                        <p>Час приготування:
                            <%= recipe.cooking_time.hours %> годин(и)
                            <%= recipe.cooking_time.minutes %> хвилин(и)
                        </p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

</div>

<script src="https:://ajax.googleapis.com/ajax/libs/jquery/1.24.4/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js'></script>

<script id="search" type="x-tml-mustache">
    <div>
        {{#recipes}}
            <div class="container-fluid col-md-9 col-xs-12" style="background: #fff7d1; border-radius: 20px; margin-bottom: 30px">
                <div class="row-fluid">
                    <div class="col-md-3 col-xs-4" style="margin: 20px">
                        <img src="data:image/jpg;base64,{{image}}" style="border-radius: 20px" width="200" height="200" alt="{{name}}">
                    </div>
                    <div class="col-md-6 col-xs-6" style="margin: 20px">
                        <p>{{category}} &#149 {{kitchen}}</p>
                        <h3><a href="/">{{name}}</a></h3>
                        <p>Автор: <a href="/">{{author_login}}</a></p>
                        <p>Час приготування:
                            {{#cooking_time}}
                                {{hours}} годин(и)
                                {{minutes}} хвилин(и)
                            {{/cooking_time}}e
                        </p>

                    </div>
                </div>
            </div>
        {{/recipes}}
        {{#empty}}
            <div class="col-md-12">
                <h4>Не знайдено!<h4>
            </div>
        {{/empty}}
    </div>
</script>

<script>
    $("#searchbtn").click(function (event) {
        event.preventDefault();
        var parameters = { search: $("#searchtext").val() };
        $.get('/search', parameters, function (data) {
            let template = document.getElementById("search").innerHTML;
            let recipes = JSON.parse(data);
            if(data.length > 2) {
                var renderHTML = Mustache.render(template, {
                    recipes: recipes,
                    empty: false
                });
            }
            else{
                var renderHTML = Mustache.render(template, {
                    empty: true
                });
            }
            $("#search-content").html(renderHTML);
        });
    });
</script>

<!--
<div class="container marketing">
    <a href="/">Главная</a>
            <ul>
                <% for(let i = 0; i < recipes.length; i ++){
                    let recipe = recipes[i];
                %>
                <li>
                    <ul>
                        <li>Название рецепта: <%= recipe.name %></li>
                        <li>Описание рецепта: <%= recipe.description %></li>
                        <li>Автор рецепта: <%= recipe.author_id %></li>
                        <li><a href="/recipes/<%= recipe._id %>"><%= recipe._id %></a></li>
                            <% if (!user) {} else if(user.role == "admin") { %>
                                <li>
                                    <form method="post" action="/delete_recipe/<%= recipe._id %>">
                                          <button class="btn btn-primary">Удалить</button>
                                    </form>
                                </li>
                            <% }%>
                    </ul>
                </li>
                <% } %>
            </ul>
</div> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>
