<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Так смачно</title>
    <meta name="description" content="recipe page">
    <meta name="author" content="Dmytro Diachenko">
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
</head>
<body>
<a href="/index">Главная</a>
<% if(!recipe) { %>
<h3>Nothing</h3>
<% } else { %>
<h2> <%= recipe.name %></h2>
<p> <%= recipe.description %></p>
<% } %>
</body>
</html>