<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <meta name="description" content="Recipes page">
    <meta name="author" content="Dmytro Diachenko">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
</head>
<body>
<div class="container marketing">
    <a href="/">Главная</a>
            <ul>
                <% for(let i = 0; i < recipes.length; i ++){
                    let recipe = recipes[i];
                %>
                <li>
                    <ul>
                        <li>Название рецепта: <%= recipe.name %></li>
                        <li>Описание рецепта: <%= recipe.description %></li>
                        <li>Автор рецепта: <%= recipe.author_id %></li>
                        <li><a href="/recipes/<%= recipe._id %>"><%= recipe._id %></a></li>
                            <% if (!user) {} else if(user.role == "admin") { %>
                                <li>
                                    <button method="get" action="/delete_recipe/<%= recipe._id %>" class="btn btn-primary">Удалить</button>
                                </li>
                            <% }%>
                    </ul>
                </li>
                <% } %>
            </ul>
</div>
</body>
</html>
