<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="description" content="Login page">
    <meta name="author" content="Dmytro Diachenko">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
</head>
<body>
<!-- SIGN IN FORM -->
<div id="SignIn" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Вход</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <form class="form-horizontal" method="POST" action="/login">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="login">Логин:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="login" name="username" placeholder="Введите Ваш логин">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="password">Пароль:</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button type="submit"  class="btn btn-primary">Войти</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- SIGN UP FORM -->
<div id="SignUp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Регистрация</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <form class="form-horizontal" data-toggle="validator" role="form" method="post" action="/register">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="login">Логин:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="login" name="login" placeholder="Введите Ваш логин"
                                   data-error="Этот логин уже занят другим пользователем" required>
                            <div class="help-block with-errors">
                                <%
                                    if(msg){
                                %>
                                <%- msg %>
                                <%
                                }
                                %>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="lastName">Фамилия:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Введите фамилию"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="firstName">Имя:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Введите имя"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputPassword">Пароль:</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Введите пароль"
                                   data-minlength="6" required>
                            <div class="help-block">Minimum of 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="confirmPassword">Подтвердите пароль:</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Введите пароль ещё раз"
                                   data-match="#inputPassword"
                                   data-match-error="Пароли  не совпадают. Пожалуйста, проверьте  идентичность паролей в обоих полях!" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input type="submit" class="btn btn-primary" value="Регистрация">
                            <input type="reset" class="btn btn-default" value="Очистить форму">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<a href="#SignIn" data-toggle="modal">Sign in</a>
<br>
<a href="#SignUp" data-toggle="modal">Регистрация</a>

</body>
</html>