<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Sample</title>
    <meta name="description" content="Sample site">
    <meta name="author" content="phadyniak">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<div class='container'>
    <div class='page-header'>
        <h1>Users</h1>
    </div>
    <div class='row'>
        <div class='col-md-8'>
            <%  if(user) { %>
            <h1>Hello, <%= user.login %></h1>
            <p>
                <a href='/logout'>Logout</a>
            </p>
            <% } %>
        </div>
        <div class='col-md-4'>
            Text
        </div>
    </div>
</div>
</body>
</html>